{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Guess the Capital!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1 style="text-decoration: underline;">Guess the Capital!</h1>
        <p><span class="country-label">Country:</span> <span class="country-name">{{ country.name }}</span></p>

        <form method="post" id="guess-form" onsubmit="return validateForm()">
            {% csrf_token %}
            <input type="text" name="guess" placeholder="Enter the capital city">
            <input type="submit" value="Check">
        </form>
    </div>

    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
            <p id="popup-text">Your answer is correct!</p>
            <button id="close-popup">OK</button>
        </div>
    </div>

    <script>
        function showPopup(text) {
            document.getElementById("popup-text").textContent = text;
            document.getElementById("popup").style.display = "block";
        }

        document.getElementById("close-popup").addEventListener("click", function () {
            document.getElementById("popup").style.display = "none";
            window.location.href = "/game";
        });
        function validateForm() {
            var guess = document.forms["guess-form"]["guess"].value;
            if (guess.trim() === "") {
                alert("Please enter a capital city.");
                
                
                
               
                return false; // Prevent form submission
            }
            
            return true; // Allow form submission
        }
        // JavaScript logic to display the popup based on correctness
        var correctValue = "{{ correct }}";  // This will be "True" or "False" based on Django template
        console.log(correctValue)
        if (correctValue === "True") {
            showPopup("Your answer is correct!");
        } else if (correctValue === "False") {
            showPopup("Sorry, the correct answer is: {{ country.capital }}");
        }
    </script>
</body>
</html>
